<% provide(:title, 'About') %>

<div class="jumbotron">
  <h1>About</h1>

  <p>This application is designed as part of the evaluation test project for <a href="http://resultadosdigitais.com.br/">Resultados Digitais</a></p>
  <p>The source code for this project is available at github <a href="https://github.com/vicentesi/testrd">TestRD App</a></p>
  <p>The source code for the gem used in this app is available at github <a href="https://github.com/vicentesi/testrd_gem">TestRD Gem</a></p>


  <p>Written by: <a href="https://br.linkedin.com/pub/vicente-silveira-in%C3%A1cio/25/734/588">Vicente Silveira Inácio</a></p>
</div>
