<% provide(:title, 'Home') %>
<div class="jumbotron">
  <h1><a href="http://resultadosdigitais.com.br/">Resultados Digitais</a></h1>
  <h3>Evaluation Test Project</h3>
  <br>
  <div class="btn-group">
    <%= link_to "New User",'#', class: "btn btn-lg btn-success" %>
    <%= link_to "View Users",'#', class: "btn btn-lg btn-primary" %>
  </div>
</div>
